@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/Gilroy-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Extrabold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-Black.ttf");
    font-weight: 900;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__next {
        @apply h-full;
    }
}